body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(bg-img.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
@media screen and (max-width:300px){
 body{
   background-image: url(bg3-img.jpg);
   background-size: cover;
   height: 100;
   overflow: hidden;
  }
}
.login-form {
  position: absolute;
  top: 50%;
  left: 80%;
  width: 380px;
  height: 420px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 5px 22px 0 rgba(209, 211, 233, 0.37);
  backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.login-form h2 {
  margin: 0 0 50px;
  text-transform: uppercase;
  font-size: 32px;
  color: #fff;
  padding: 0;
  text-align: center;
}
.login-form .users-box {
  position: relative;
}
.login-form .users-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-form .users-box label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   pointer-events: none;
   transition: .5s;
}
.login-form .users-box input:focus ~ label,
.login-form .users-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #c0c0c0;
  font-size: 12px;
}
a {
  width: 200px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #111;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  transition: .5s;
  letter-spacing: 3px;
  margin: 40px 40px;
  overflow: hidden;
  font-size: 25px;
  text-align: center;
  box-sizing: border-box;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 5px 22px 0 rgba(209, 211, 233, 0.37);
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
a:hover {
  transform: scale(1.1);
}
